//======== display ========
.flex {
    display: flex;
}

.flex1 {
    @extend .flex;
    align-items: center;
}

.flex2 {
    @extend .flex1;
    justify-content: center;
}

//======== position ========
.pa {
    position: absolute;
}

.pr {
    position: relative;
}


.border-box {
    box-sizing: border-box;
}

.select-none {
    user-select: none;
}

