//======== display ========
.flex {
    display: flex;
}

.flex1 {
    display: flex;
    align-items: center;
}

.flex2 {
    display: flex;
    justify-content: center;
}

.flex3 {
	@extend .flex2;
    align-items: center;
}

//======== position ========
.pa {
    position: absolute;
}

.pr {
    position: relative;
}


.border-box {
    box-sizing: border-box;
}

.select-none {
    user-select: none;
}

//======== animation ========
.ani {
	transition: all .3s;
}