:root {
    --blue: #658aff;
    --yellow: #fbfd2d;
    --red: #f24c4c;
    --green: #4cc338;
    --purple: #a04cff;
    --cyan: #3de9e9;
    --gray: #888;
    --white: #fff;
    --black: #000;
    --ghost: #f6f6f6;
    --dark: #333;
}

.clr-blue { color: var(--blue);}
.clr-yellow { color: var(--yellow);}
.clr-red { color: var(--red);}
.clr-green { color: var(--green);}
.clr-purple { color: var(--purple);}
.clr-cyan { color: var(--cyan);}
.clr-gray { color: var(--gray);}
.clr-white { color: var(--white);}
.clr-black { color: var(--black);}
.clr-ghost { color: var(--ghost);}
.clr-dark { color: var(--dark);}

.bg-blue { background: var(--blue);}
.bg-yellow { background: var(--yellow);}
.bg-red { background: var(--red);}
.bg-green { background: var(--green);}
.bg-purple { background: var(--purple);}
.bg-cyan { background: var(--cyan);}
.bg-gray { background: var(--gray);}
.bg-white { background: var(--white);}
.bg-black { background: var(--black);}
.bg-ghost { background: var(--ghost);}
.bg-dark { background: var(--dark);}